.msgPresidenteWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}
.leftWrapper{
    width: 30%;

    img{
        width: 100%;
    }
}
.rightWrapper{
    width: 70%;
    padding:0 5%;
    position: relative;

    h3{
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 33px;
        text-align: center;
        margin-bottom: 30px;
    }

    p{
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 33px;
        color: #000000;
        margin-bottom: 18px;
        width: 95%;
    }

    span{
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
        line-height: 33px;
        color: #000000;
        margin-top: 15px;
    }
    
    img{
        position: absolute;
        right: 22vw;
        bottom: -5vh;
        width: 153px;
    }
}