.mapaWrapper {
    padding: 100px;

    background-color: #000;

    .tittleContato {
        h3 {
            display: flex;
            align-items: center;
            justify-content: center;
    
            color: #fff;
    
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 50px;
            line-height: 75px;
    
            margin: 9rem auto 4rem;
        }
    }
    

    .headerContato {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        height: 260px;

        background-color: #fff;

        margin: auto;
        padding-bottom: 1rem;
        
        position: relative;

            .itemContato {
                margin: 6rem;
                margin-top: 2rem;

                h3 {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 35px;
                    line-height: 100px;

                    color: #000;
                    
                    text-transform: uppercase;
                }

                p {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 17px;
                    line-height: 50px;

                    color: #000;

                    text-transform: lowercase;
                    text-align: center;
                }
            }

        .innerContato {
            position: absolute;

            width: 90%;
            height: 190px;

            background-color: #2B2C48;
            border: 1px solid black;

            margin: auto;
            bottom: -100px;
            left: 0;
            right: 0;

            padding-bottom: 0;
        }

        .innerItemContato {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            margin-top: 40px;

            h5 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: normal;
                font-size: 25px;
                line-height: 50px;

                color: #fff;

                text-transform: uppercase;
            }

            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 30px;

                color: #fff;

                text-transform: initial;

                margin-top: 10px;
            }
        }
    }

    .mapaContato {
        img {
            width: 100%;
            height: 100vh;
        } 
    }

    .footerContato {

        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        height: 150px;

        margin: -3px auto;

        background-color: #2B2C48;

        .itemFooter {
            margin: 6rem;

            
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 60px;
            
            text-align: center;
            text-transform: uppercase;

            color: #fff;

            position: relative;
        }

        .itemFooter:before {
            content: "";
            position: absolute;

            background-color: #fff;

            width: 50%;
            height: 2px;

            top: 55px;
            left: 0;
        }

        .itemFooterContato {
            margin: 6rem;

            
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 60px;
            
            text-align: center;
            text-transform: uppercase;

            color: #fff;
        }
    }
}
    
