.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  position: fixed;
  width: 90%;

  padding: 0 5vw;
}
.logoHeader {
  width: 50%;

  img {
    width: 15%;
    cursor: pointer;
  }
}
.menuHeader {
  width: 50%;

  nav {
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;

      li {
        font-weight: bold;
        font-size: 19px;

        a {
          color: #fff;
          text-decoration: none;
        }

        img {
          width: 25%;
        }
      }
    }
  }
}
